
* {
  box-sizing: border-box; 
  padding: 0px;
} 

  

body { 
  margin: 0;
  min-height: 100vh; 
  font-family: sans-serif;
  background-color: white;
}

.topnav {
    background-color: #04AA6D;
    overflow: hidden; 
    font-family: 'Inter', sans-serif; 

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: white;
    color: green;
    font-family: 'Inter', sans-serif;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #70FE00;
    color: white;
    font-family: 'Inter', sans-serif; 
    font-weight: bold; 
  font-family: 'Inter', sans-serif;
  } 


p {
  font-family: 'Inter', sans-serif; 
  font-size: 150%;
}
h1{
  font-family: 'Inter', sans-serif; 
  font-size: 300%;
}
 h2{
  font-family: 'Inter', sans-serif;
  font-size: 17px;
 }
 h3{
  font-family: 'Inter', sans-serif; 
  font-size: 200%;
 }
 ul{
  font-family: 'Inter', sans-serif;
 }
 li{
  font-family: 'Inter', sans-serif;
 } 

 .tagline {
  font-family: 'Inter', sans-serif;
  color: black; 
  font-size: 150%; 
  
}  

  .tagline.small {
      font-size: 250%;
  } 

  .tagline.big {
      font-size: 500%;
  }

  .tagline strong.red {
      /* font-size: 65px; */
      color: rgb(255, 0, 0); 
      font-size: 125%;
  }   

  .tagline strong.green {
      
      color: #00cc99; 
      font-size: 125%;
  } 

  .tagline.center {
      text-align: center; 
      justify-content: center; 
  } 

      /* .tagline.center.white {
          color: white; 
      } 

      .tagline.center.black {
          color: black; 
      } */


   
  
  .tagline.white {
      color: #FFFFFF;  
      
  }

  .info_container {
    
    display: flex;  
    width: 100%;
    padding-left: 25%; 
    padding-right: 25%;

    justify-content: center; /*<-- Still needed?*/
 }   

 .info_container.column {
    flex-direction: column;
}

.info_container h3 {
  margin-top: 2%;
} 

.info_container p {
  margin-top: 0%;
}

 .info_container.white {
    background-color: white; 
    
}  

.info_container.black {
    background-color: rgb(0, 0, 0);  
    
}

 .info_container.left {   
    align-items: left;
 }   

 .info_container.right {
    align-items: right;
 } 


.tagline_box {
    width: calc
} 


/* Form Styles */
form {
  flex-direction: column; 
} 

.container fieldset{
  font-size: 200%; 
  margin-bottom: 5%;  
  
  border: .1em solid #04AA6D;  
  padding: 2%;  
} 

label{ 
  font-size: 100%; 
  text-decoration: underline; 
}   

  label[for = Anytime], label[for = "NearFuture"], label[for = Soon] ,label[for = ASAP], label[for = notif] {
      text-decoration: none;
  }


.formbox {
  padding-bottom: 2%; 
} 

  .formbox.submit{
      text-align: center;
  }



input[type = text], input[type=email], select{
  width: 100%;  
  box-sizing: border-box; 
  padding: 1%;
}  

input[type=button], input[type=submit], input[type=reset], select { 
  cursor: pointer;
} 

textarea {
  width: 100%; 
  padding: 1%;
  box-sizing: border-box; 
  resize: none; 
  height: 12em;
} 

input[type=file] {
  width: 35%; 
  padding: 2%; 
  font-size: large; 
   
}
.container input[type=submit] {
  
  width: 35%; 
  padding: 2%; 
  font-size: large; 
  font-weight: bold; 
  justify-self: center;
}
