.topnav {
    background-color: #04AA6D;
    overflow: hidden; 
    font-family: 'Inter', sans-serif; 

  }
  
    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: 'Inter', sans-serif; 
        transition-duration: .5s;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: white;
        color: green;
        font-family: 'Inter', sans-serif;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #70FE00;
        color: white;
        font-family: 'Inter', sans-serif; 
        font-weight: bold; 
    font-family: 'Inter', sans-serif;
    } 


.colorbox {
    background-color: white; 
    padding-top: 10px; 
    padding-bottom: 10px;
} 

body {
    background-color: rgb(0, 0, 0);
 }
  
h1{
  font-family: 'Inter', sans-serif;
}
 h2{
  font-family: 'Inter', sans-serif;
  font-size: 17px;
 }
 h3{
  font-family: 'Inter', sans-serif;
 }
 ul{
  font-family: 'Inter', sans-serif;
 }
 li{
  font-family: 'Inter', sans-serif;
 } 


 

.logo {
    font-family: 'Inter', sans-serif;
    font-size: 95px; 
    text-align: center; 
    color: #00cc99;
}  


 .tagline {
    font-family: 'Inter', sans-serif;
    color: black; 
    padding-left: 100px; 
    font-size: 50px;
 }  

    .tagline strong.red {
        font-size: 65px;
        color: rgb(255, 0, 0);
    } 

    .tagline strong.green {
        font-size: 65px;
        color: #00cc99;
    }  
    
    .tagline.white {
        color: #FFFFFF;
    } 

    .tagline h4 {
        font-size: 15px; /*Won't change size for h4s :( */
    }



 .description {
    font-family: 'Inter', sans-serif; 
    font-size: 30px; 
    padding-left: 100px; 
    padding-right: 150px;
 }  

 .description li {
    font-family: 'Inter', sans-serif; 
    font-size: 30px; 
     /*Padding does not bring bullet point next to item :( */
 }  

 .image_flex {  
    flex-basis: 40%; 
    justify-content: flex-end;
    
 }  

 .info_container {
    display: flex;
    align-items: left;
    justify-content: center;
 } 

 .filter_green{
    filter: invert(47%) sepia(91%) saturate(612%) hue-rotate(122deg) brightness(102%) contrast(102%); 
    
 }

    
    