* {
    box-sizing: border-box; 
    padding: 0px; 
    font-family: 'Inter', sans-serif;
}

.text.red {
    color: rgb(255, 0, 0);
}

.text.green {
    color: #00cc99;
}   

.bg.light {
    background-color:#ffffff;
}

.bg.green {
    background-color: #00cc99;
}  
.logo_adjust{
    /* padding-right: 10%; */
    filter: invert(47%) sepia(91%) saturate(612%) hue-rotate(122deg) brightness(102%) contrast(102%); 
    
 }  

 .icon {
    text-align: center;
 }

    .icon.moneyloss{
        
        filter: invert(16%) sepia(98%) saturate(5413%) hue-rotate(359deg) brightness(100%) contrast(121%); 
        
    }


    .icon.gas{
        
        filter: invert(47%) sepia(93%) saturate(396%) hue-rotate(4deg) brightness(90%) contrast(84%); 
        
    } 

    .icon.face{
        
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%);
        
    }  

    .icon.battery{
        
        filter: invert(42%) sepia(34%) saturate(5490%) hue-rotate(188deg) brightness(101%) contrast(108%); 
        
    }

    footer {
        background-color: #04AA6D;
        overflow: hidden; 
        font-family: 'Inter', sans-serif;
        color: #ffffff;
    }  

    .contact_box {
        display: flex; 
    }


    