* {
    box-sizing: border-box; 
    padding: 0px;
}

header {
    top: 0;
    position: sticky;  /*Doesn't work in topnav, even without overflow...?*/ 
    z-index: 10; /*Keeps header above .svg images*/
}

body {
    
    margin: 0;
    min-height: 100vh; 
    font-family: sans-serif;
 }

 @media screen and (max-width: 1000px) {
    .row, .navbar, .info_container, .features {   
      flex-direction: column; 
      flex-wrap: wrap;
    } 
    /* How do I set more specific media queries?? */
  }

/*
Might help with alignment: 
 
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;}  */



/* Flexboxes */
.container {
    display: flex; 
    
}  



.info_container {
    
    display: flex;  
     
    
    /* Takes up center 75% of the screen */
    
    /* width: 75%; 
    margin-left: 12.5%; 
    margin-right: 12.5%; */ 

    width: 100%;
    padding-left: 12.5%; 
    padding-right: 12.5%;
    
    /* padding-top: 2%; 
    padding-bottom: 3%; */
    justify-content: center; /*<-- Still needed?*/
 }   

 .info_container.column {
    flex-direction: column;
}


 .info_container.white {
    background-color: white; 
    
}  

.info_container.black {
    background-color: rgb(0, 0, 0);  
    
}

 .info_container.left {
    align-items: left;
    
 }   

 .info_container.right {
    align-items: right;
 } 


.tagline_box {
    width: calc
} 



/* ----------------------------- */ 


.topnav {
    background-color: #04AA6D;
    overflow: hidden; 
    font-family: 'Inter', sans-serif; 

  }
  
    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: 'Inter', sans-serif; 
        transition-duration: .5s;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: white;
        color: green;
        font-family: 'Inter', sans-serif;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #70FE00;
        color: white;
        font-family: 'Inter', sans-serif; 
        font-weight: bold; 
        font-family: 'Inter', sans-serif;
    } 





  
h1{
  font-family: 'Inter', sans-serif;
}
 h2{
  font-family: 'Inter', sans-serif;
  font-size: 17px;
 }
 h3{
  font-family: 'Inter', sans-serif;
 }
 ul{
  font-family: 'Inter', sans-serif;
 }
 li{
  font-family: 'Inter', sans-serif;
 } 


 

.logo {
    font-family: 'Inter', sans-serif;
    font-size: 95px; 
    text-align: center; 
    color: #00cc99;
}  


 .tagline {
    font-family: 'Inter', sans-serif;
    color: black; 
    font-size: 150%; 
    
 }  

    .tagline.small {
        font-size: 250%;
    } 

    .tagline.big {
        font-size: 500%;
    }

    .tagline strong.red {
        /* font-size: 65px; */
        color: rgb(255, 0, 0); 
        font-size: 125%;
    }   

    .tagline strong.green {
        
        color: #00cc99; 
        font-size: 125%;
    } 

    .tagline.center {
        text-align: center; 
    } 

        /* .tagline.center.white {
            color: white; 
        } 

        .tagline.center.black {
            color: black; 
        } */


     
    
    .tagline.white {
        color: #FFFFFF;  
        
    }  
    

    

    /* .tagline.white.small { /*Changed 
        font-size: 42px; 
        text-align: left;
    }
     */

    li .tagline {
        font-size: 45px; 
        padding-left: 0px; 
        
    }


    .tagline h4 {
        font-size: 15px; /*Won't change size for h4s :( */
    }



 .description {
    font-family: 'Inter', sans-serif; 
    font-size: 150%; 
    padding-left: 100px; 
    padding-right: 150px; 
    
 }  

ul.description  li {
    font-family: 'Inter', sans-serif; 
    font-size: 30px;  
    display: inline-block;
     /*Padding does not bring bullet point next to item :( */
 }  

/* Classes for feature images */


/* Try to make all boxes for features the same width (and rename to something else) */
.features {
    display: flex; 
    justify-content: center; 
    padding: 0; 
    list-style: none; 
     
    
    
} 

    .features li {
        width: calc(33.33333% - 2em);
		margin-left: 2em;
		margin-top: 3em;  
        padding: 0;  
        border: 2px solid black; /*Box size should be adjusted will smaller screen sizes*/
        width: 25%;
    
        
    } 


    .features li h1 {
        margin-top: 0em; 
        margin-bottom: 0em;
        text-align: center; 
    } 

    .features li p {
        margin-top: 0em;
        text-align: center; 
        font-size: 200%;
    }  

    /* .features li img {
		margin-left: 2em;
		margin-top: 3em;  
        padding-left: 25%;
        text-align: center; 
    } */

    


 .image_flex {  
    flex-basis: 40%; 
    justify-content: flex-end;
    
 }  

 

 





/* Image Classes */

.logo_adjust{
    /* padding-right: 10%; */
    filter: invert(47%) sepia(91%) saturate(612%) hue-rotate(122deg) brightness(102%) contrast(102%); 
    
 } 

.img_anchor { /* Should be used in divs, since imgs are inline */
    text-align: center;
}

.icon {
    text-align: center;
 }

    .icon.moneyloss{
        padding-right: 10%;
        filter: invert(16%) sepia(98%) saturate(5413%) hue-rotate(359deg) brightness(100%) contrast(121%); 
        
    }


    .icon.gas{
        padding-right: 10%;
        filter: invert(47%) sepia(93%) saturate(396%) hue-rotate(4deg) brightness(90%) contrast(84%); 
        
    } 

    .icon.battery{
        padding-right: 10%;
        filter: invert(42%) sepia(34%) saturate(5490%) hue-rotate(188deg) brightness(101%) contrast(108%); 
        
    } 

    footer {
        background-color: #04AA6D;
        overflow: hidden; 
        font-family: 'Inter', sans-serif;
        color: white;
    }  

    .contact_box {
        display: flex; 
    }
    
    