* {
    box-sizing: border-box; 
    padding: 0px; 
    font-family: 'Inter', sans-serif;
}

.text.red {
    color: rgb(255, 0, 0);
}

.text.green {
    color: #00cc99;
}   

.text.d_green {
    color: #0b4c10;
}

.text.yellow {
    color: #FFE400;
}
 

.bg.green {
    background-color: #00cc99;
} 

.logo_adjust{
    /* padding-right: 10%; */
    filter: invert(47%) sepia(91%) saturate(612%) hue-rotate(122deg) brightness(102%) contrast(102%); 
    
 }  

 .icon {
    text-align: center;
 }

    .icon.moneyloss{
        padding-right: 10%;
        filter: invert(16%) sepia(98%) saturate(5413%) hue-rotate(359deg) brightness(100%) contrast(121%); 
        
    }


    .icon.gas{
        padding-right: 10%;
        filter: invert(47%) sepia(93%) saturate(396%) hue-rotate(4deg) brightness(90%) contrast(84%); 
        
    } 

    .icon.battery{
        padding-right: 10%;
        filter: invert(42%) sepia(34%) saturate(5490%) hue-rotate(188deg) brightness(101%) contrast(108%); 
        
    }  

    .icon.crown {
      /* transform: rotate(30deg);   */
      filter: invert(84%) sepia(9%) saturate(6009%) hue-rotate(3deg) brightness(103%) contrast(114%); 
    }

    

    .phone_pic {
        height: 75%;
        /* min-height: 400px; */
        width: 75%;
        /* min-width: 200px; */
    } 


    .nav_icon {
        /* max-height: 5px; */
        /* min-height: 400px; */
        max-width: 5px;
        /* min-width: 200px; */
    }


    